[submodule ".github/submodules/shared-library"]
	path = .github/submodules/shared-library
	url = https://github.com/bhassan-techtrend/poc-for-jenkins-migration.git
[submodule ".github/submodules/shared-library-2"]
	path = .github/submodules/shared-library-2
	url = https://github.com/bhassan-techtrend/poc-for-jenkins-migration.git
